<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>First Key</key>
	<string>First Value</string>
	<key>Second Key</key>
	<string>Second Value</string>
	<key>Third Key</key>
	<string>Third Value</string>
	<key>Fourth Key</key>
	<string>Fourth Value</string>
	<key>Fifth Key</key>
	<string>Fifth Value</string>
	<key>Sixth Key</key>
	<string>Sixth Value</string>
	<key>Seventh Key</key>
	<string>Seventh value</string>
	<key>Eighth Key</key>
	<string>Eighth Value</string>
	<key>Ninth Key</key>
	<string>Ninth value</string>
	<key>Tenth Key</key>
	<string>Tenth Value</string>
</dict>
</plist>
